/* general styling */
@import url('');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
	
	background-color: rgb(75, 78, 77)
}

.container{
	
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	display: flex;
	flex-direction: column;
	
	width: 520px;
	height: auto;
	margin: 25px auto;
	
}

.rows{
	font-size: 2.5rem;
	display: flex;
	flex-direction: row;
}

.oranges{
	background: orange;	
	border: none;
	color: white;
	border: 2px solid #CAC0C0;
	font-weight: bolder;
}

.oranges:hover{
	background: white;
	color: orange;
	padding: 25px 0;
	
	
}

.contain{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	text-align: center;
	background-color: white;
	color: black;
	border: 2px solid #CAC0C0;
	display: flex;
	flex-wrap: wrap;
	
	
}

.numDisplay{
	font-size: 4.5em;
	font-weight: 400;
}


.greys{
	padding: 25px 0;
	background-color: #B4AFAF;
	border: 2px solid #CAC0C0;
	color: white;
	font-weight: bolder;
}

.greys:hover{
	background: white;
	color: black;
	padding: 25px 0;	
	
}

